@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for clean look but allow scrolling */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}